@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
}

body {
    background-image: linear-gradient(to bottom, rgb(10, 10, 15) 80%, rgb(8, 16, 19));
    color: white;
}

h1.logo {
    font-family: 'Anonymous Pro', monospace;
    font-weight: 700;
}

.technologyIcon {
    fill: rgb(170, 170, 170);
    transition: .5s;
    --tw-translate-y: 1rem /* 16px */;
    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.scrollHidden {
    transition: 1s;
    opacity: 0;
    transform: translateY(50px);
}

.scrollShow {
    opacity: 1;
    transform: translateY(0);
}